@mixin popup {
    border-radius: 5px;
    border: 1px solid color-mix(in srgb, var(--inverse) 20%, transparent);
    background-color: var(--popup-body-bg);
    box-shadow: 0px 5px 40px var(--overlay-shadow);
    backdrop-filter: blur(8px);
}
