display-name: Base16 {{scheme-name}}
variant: {{scheme-variant}}
# Basics
accent: "#{{base09-hex}}cc"
accent-secondary: "#{{base03-hex}}"
background: "#{{base01-hex}}"
button-active-bg: "#{{base02-hex}}ee"
button-active-disabled-bg: "#{{base02-hex}}99"
button-active-disabled-text: "#{{base05-hex}}99"
button-solid-bg: "#{{base0D-hex}}"
button-text: "#{{base05-hex}}"
header-opacity: 0.4
header-text: var(--text)
icon-boxed-hover-bg: "#{{base02-hex}}99"
icon-disabled: "#{{base02-hex}}"
icon-primary: "#{{base05-hex}}"
icon-secondary: "#{{base0D-hex}}"
icon-secondary-hover: "#{{base0A-hex}}"
icon-tertiary: "#{{base08-hex}}"
icon-tertiary-hover: "#{{base0A-hex}}"
input-alt-focus-outline: "1px solid #{{base0C-hex}}"
input-bg: "#{{base03-hex}}"
input-focus-bg: "#{{base00-hex}}"
input-focus-outline: "2px solid #{{base0D-hex}}99"
input-placeholder-text: "#{{base05-hex}}99"
inverse: rgba(from var(--background) calc(1 - r) calc(1 - g) calc(1 - b) / 0.18)
link: "#{{base0F-hex}}"
link-hover: "#{{base0E-hex}}"
overlay-bg: "#{{base02-hex}}88"
overlay-shadow: rgb(from var(--inverse) r g b / 0.2)
shadow-gradient-bg: var(--panel-background)
text: "#{{base05-hex}}ee"
text-secondary: "#{{base0E-hex}}"
text-active: "#{{base05-hex}}"
text-inactive: "#{{base05-hex}}99"
title: "#{{base00-hex}}"
type-bw: hsl(from var(--background) h 100% calc(round(l / 100) * 100))
type-bw-inverse: hsl(from var(--type-bw) h 100% calc(100 - l))
# Album
album-gridsize-line-bg: "var(--seekbar-line-bg)"
album-gridsize-thumb: "var(--seekbar-thumb)"
album-hover-info-bg: "var(--background)"
album-hover-info-text: var(--text)
album-playing-pause-bg: "#{{base03-hex}}"
album-playing-pause-border: var(--album-playing-play-border)
album-playing-pause-icon: "#{{base05-hex}}"
album-playing-pause-hover-bg: var(--album-playing-play-hover-bg)
album-playing-pause-hover-icon: var(--album-playing-play-hover-icon)
album-playing-play-bg: "#{{base01-hex}}"
album-playing-play-border: "#{{base04-hex}}"
album-playing-play-icon: "#{{base05-hex}}"
album-playing-play-hover-bg: "#{{base03-hex}}"
album-playing-play-hover-icon: "#{{base05-hex}}"
album-playing-shadow: "#{{base05-hex}}"
album-playing-title-bg: var(--library-playing-bg)
album-playing-title-text: var(--text)
# Analytics/Stats
analytics-border: "rgba(from var(--accent) r g b / 0.11)"
analytics-text-primary: "#{{base0A-hex}}"
analytics-text-secondary: "#{{base0A-hex}}"
analytics-timeline-track-bg: "#{{base04-hex}}4f"
analytics-timeline-vline-bg: "#{{base04-hex}}4f"
# Artist's Toolkit
#atk-icon-audio: "color-mix(in srgb, #{{base01-hex}} 35%, #FF00FF)"
#atk-icon-link: "color-mix(in srgb, #{{base01-hex}} 15%, #00FFFF)"
#atk-icon-link: "color-mix(in srgb, #{{base01-hex}} 85%, #FF0000)"
#atk-icon-lyric: "color-mix(in srgb, #{{base01-hex}} 20%, #FFFF00)"
#atk-icon-video: "color-mix(in srgb, #{{base01-hex}} 15%, #FF0000)"
atk-icon-audio: "#FF00FFcc"
atk-icon-link: "#00FFFFcc"
atk-icon-lyric: "#FFFF00cc"
atk-icon-video: "#FF0000cc"
# Library
library-clickable-cell-bg: "#{{base0F-hex}}1e"
library-clickable-cell-hover-bg: "#{{base0D-hex}}36"
library-column-divider: rgba(242, 242, 242, 0.144)
library-favourite-icon: "#{{base0B-hex}}"
library-favourite-hover-icon: "#{{base05-hex}}"
library-header-bg: "#{{base03-hex}}"
library-header-text: "#{{base05-hex}}"
library-header-active-bg: "#{{base0F-hex}}cc"
library-highlight-bg: "#{{base0C-hex}}cc"
library-hover-bg: "#{{base03-hex}}99"
library-odd-row-bg: transparent
library-playing-bg: "#{{base0F-hex}}bb"
library-playing-icon: "#{{base05-hex}}ee"
library-playing-text: "#{{base05-hex}}ee"
library-playing-title: "#{{base05-hex}}ee"
library-scrollbar-bg: "#{{base03-hex}}cc"
library-scrollbar-hover-bg: "#{{base04-hex}}77"
library-text: "#{{base05-hex}}"
library-title: "#{{base05-hex}}"
# Lyrics
lyrics-text: "#{{base05-hex}}"
# Map View
mapview-region-bg: "#{{base03-hex}}"
mapview-region-border: "#{{base0D-hex}}"
mapview-region-hover-bg: "#{{base0C-hex}}"
mapview-region-hover-border: "#{{base0D-hex}}"
mapview-region-selected-bg: "#{{base08-hex}}"
mapview-region-selected-border: "#{{base0D-hex}}"
mapview-region-selected-hover-bg: "#{{base0A-hex}}ee"
mapview-region-selected-hover-border: "#{{base0D-hex}}"
mapview-scale-1: "#eeeeee"
mapview-scale-2: "#999999"
mapview-tooltip-artist: "#{{base05-hex}}95"
mapview-tooltip-bg: "#{{base02-hex}}cc"
mapview-tooltip-border: "#{{base05-hex}}2d"
mapview-tooltip-text: "#{{base05-hex}}cc"
# Menus
menu-bg: "#{{base01-hex}}cc"
menu-border: "#{{base05-hex}}3b"
menu-checkbox-off: "#808080"
menu-checkbox-on: "#{{base05-hex}}"
menu-divider: "#{{base05-hex}}22"
menu-item-confirm-bg: "#{{base0A-hex}}ee"
menu-item-destructive-hover-bg: "#{{base09-hex}}ee"
menu-item-destructive-hover-text: "#{{base00-hex}}"
menu-item-disabled: "#{{base05-hex}}66"
menu-item-highlight-bg: "#{{base05-hex}}11"
menu-item-highlight-border: transparent
menu-item-highlight-text: "#{{base07-hex}}"
menu-item-highlight-secondary-bg: "#{{base05-hex}}32"
menu-item-highlight-secondary-border: "#{{base05-hex}}1a"
menu-item-highlight-secondary-text: "#{{base05-hex}}"
menu-item-loading-from: inherit
menu-item-loading-to: "#{{base04-hex}}"
menu-item-text: "#{{base05-hex}}"
menu-shadow: color-mix(in srgb, var(--type-bw) 13%, transparent)
# Oscilloscope
oscilloscope: "#{{base01-hex}}"
# Panels
panel-background: "#{{base00-hex}}b3"
panel-primary-border-main: color-mix(in srgb, var(--inverse) 40%, transparent)
panel-primary-border-accent1: color-mix(in srgb, var(--inverse) 30%, transparent)
panel-primary-border-accent2: color-mix(in srgb, var(--inverse) 10%, transparent)
panel-secondary-border-main: "#{{base05-hex}}2a"
panel-secondary-border-accent: "#{{base05-hex}}19"
panel-separator: "#{{base05-hex}}17"
panel-shadow-bg: color-mix(in srgb, var(--type-bw) 15%, transparent)
# Popups
popup-backdrop: "#{{base03-hex}}d2"
popup-body-bg: "#{{base02-hex}}"
popup-header-bg-lone: color-mix(in srgb, var(--background) 90%, var(--inverse))
popup-header-bg-many: color-mix(in srgb, var(--background) 95%, var(--inverse))
popup-header-border: color-mix(in srgb, var(--background) 60%, var(--inverse))
popup-section-bg: "color-mix(in srgb, #{{base02-hex}}, #{{base03-hex}} 50%)"
popup-section-border: color-mix(in srgb, var(--background) 70%, var(--inverse))
popup-section-title-bg: color-mix(in srgb, var(--background) 50%, var(--inverse))
popup-section-title-text: var(--title)
popup-track-artwork-about: "#{{base0E-hex}}"
popup-track-artwork-found: "#{{base0B-hex}}"
popup-track-artwork-notfound: "#{{base0A-hex}}"
popup-track-data-field-bg: rgb(from var(--type-bw) r g b / 0.3)
popup-track-metadata-prompt-error: "#{{base08-hex}}42"
popup-track-metadata-title: "color-mix(in srgb, #{{base0B-hex}}, #{{base02-hex}} 5%)"
popup-track-metadata-validation-error: "#{{base08-hex}}"
popup-track-metadata-validation-warning: "#{{base09-hex}}"
# Progress bar
progressbar-track-bg: "#{{base05-hex}}43"
progressbar-value-bg: "#{{base08-hex}}"
# Prune
prune-button-border: "var(--inverse)"
prune-button-delete-bg: "#{{base08-hex}}cc"
prune-button-delete-pressed-shadow: "#{{base08-hex}}99"
prune-button-keep-bg: "#{{base0B-hex}}cc"
prune-button-keep-pressed-shadow: "#{{base0B-hex}}99"
prune-fordelete: "#{{base08-hex}}cc"
# ScrollTo
scrollto-active-bg: "#{{base02-hex}}80"
scrollto-active-border: "#{{base03-hex}}"
scrollto-active-shadow: "#{{base05-hex}}ee"
scrollto-bg: "#{{base02-hex}}"
scrollto-border: "#{{base03-hex}}80"
scrollto-eq: "#{{base00-hex}}"
scrollto-hover-bg: "#{{base01-hex}}"
scrollto-hover-border: "#{{base03-hex}}"
scrollto-hover-shadow: "#{{base05-hex}}ee"
scrollto-shadow: color-mix(in srgb, var(--type-bw-inverse) 10%, transparent)
scrollto-text: var(--text)
# Seekbar
seekbar-hoverhead: "#{{base05-hex}}"
seekbar-line-bg: color-mix(in srgb, var(--background) 76%, var(--inverse))
seekbar-thumb: "#{{base0C-hex}}"
seekbar-tooltip-bg: "#{{base02-hex}}"
seekbar-tooltip-text: "#{{base05-hex}}"
# Sidebar
sidebar-info-artist-active-bg: color-mix(in srgb, var(--inverse) 90%, transparent)
sidebar-info-artist-hover-bg: color-mix(in srgb, var(--inverse) 80%, transparent)
sidebar-info-title-hover-bg: color-mix(in srgb, var(--inverse) 40%, transparent)
sidebar-info-title-hover-border: "var(--inverse)"
sidebar-item-drag-bg: "#{{base0A-hex}}11"
sidebar-item-hover-bg: "#{{base05-hex}}33"
sidebar-item-hover-text: "#{{base00-hex}}99"
sidebar-item-selected-pipe-bg: "#{{base08-hex}}"
sidebar-node-inactive-hover-bg: "#{{base05-hex}}33"
sidebar-node-inactive-hover-opacity: 1
sidebar-node-inactive-hover-text: "#{{base00-hex}}99"
sidebar-player-disabled-bg: "#{{base04-hex}}c0"
sidebar-player-disabled-text: "var(--text)"
sidebar-search-border: var(--panel-primary-border-main)
sidebar-search-focus-bg: color-mix(in srgb, var(--inverse) 40%, transparent)
# Smart playlist
smart-playlist-builder-bg: "#{{base0C-hex}}"
smart-playlist-builder-text: "#{{base05-hex}}de"
smart-playlist-builder-block-bg: "#{{base0F-hex}}56"
smart-playlist-builder-block-focused-bg: "#{{base0D-hex}}99"
smart-playlist-builder-block-input-bg: "#{{base00-hex}}45"
smart-playlist-builder-block-input-text: var(--smart-playlist-builder-text)
smart-playlist-builder-block-text: var(--text)
# Play, pause, next, previous
transport-control: "#{{base08-hex}}"
transport-control-hover: "#{{base0C-hex}}"
transport-favorite: "#{{base0B-hex}}"
transport-favorite-hover: "#{{base0C-hex}}"
transport-shuffle: "#{{base0B-hex}}"
transport-shuffle-hover: "#{{base0A-hex}}"
transport-volume-line-bg: color-mix(in srgb, var(--background) 76%, var(--inverse) 40%)
transport-volume-thumb-bg: "#{{base0C-hex}}"
transport-volume-thumb-icon: "#{{base01-hex}}"
transport-volume-thumb-secondary: "#{{base0C-hex}}"
# Waveform
waveform-bg: "#{{base01-hex}}cc"
waveform-bg-hover: "#{{base01-hex}}"
waveform-cursor: "#{{base05-hex}}"
waveform-progress: "#{{base0C-hex}}"
waveform-region-current: "#{{base0B-hex}}"
waveform-region-loop: "#{{base01-hex}}22"
waveform-wave: "#{{base0D-hex}}"
waveform-hover-label-bg: transparent
waveform-hover-label-text: "#{{base05-hex}}"
waveform-hover-line: "#{{base00-hex}}"
waveform-hoverhead-line-bg: "#{{base05-hex}}62"
# Wiki
wiki-bg: "#{{base00-hex}}aa"
wiki-close-prompt-bg: "#{{base05-hex}}"
wiki-close-prompt-text: "#{{base05-hex}}"
wiki-header-bg: "#{{base01-hex}}cc"
wiki-inarticle-bg: "#{{base01-hex}}cc"
wiki-mention-bg: color-mix(in srgb, var(--background) 80%, transparent)
wiki-mention-border: var(--panel-secondary-border-accent)
wiki-mention-text: var(--text)
wiki-pill-bg: "#{{base0B-hex}}"
wiki-pill-border: var(--panel-primary-border-main)
wiki-pill-text: "#{{base00-hex}}ee"
wiki-pill-hover-bg: "#{{base0A-hex}}"
wiki-pill-hover-text: "#{{base00-hex}}ee"
