:root {
    background-color: transparent;
}

a {
    font-weight: 500;
    color: #acafff;
    text-decoration: inherit;
    -webkit-user-select: none;
    user-select: none;
}
a:hover {
    color: #8086ff;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 210px;
    min-height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.card {
    padding: 2em;
}

#app {
    margin: 0;
    text-align: center;
    overflow: hidden;
    font-display: optional;
    height: 100%;
}

* {
    box-sizing: border-box;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: border-color 0.1s;
    white-space: nowrap;
}

button:active {
    opacity: 0.8;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
    background-color: #5d5d5d;
    color: rgb(181, 171, 171);
}


@font-face {
    font-family: "2Peas";
    src: url("/fonts/2Peas/2Peas.otf") format("opentype");
}

@font-face {
    font-family: "Snake";
    src: url("/fonts/Snake.ttf") format("truetype");
}

@font-face {
    font-family: "Lyrics";
    src: url("/fonts/PTSerif-Regular.ttf") format("truetype");
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
